@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<article class="article">
    <div class="area-input">
        <div class="dropZone">

        </div>
    </div>
    <div class="area-input">
        <div class="beautifyZone">

        </div>
    </div>

</article>